<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Pharma_Assistant</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddBatchController</display-name>
    <servlet-name>AddBatchController</servlet-name>
    <servlet-class>com.sonata.pharma.controller.AddBatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchController</servlet-name>
    <url-pattern>/AddBatchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveBatchController</display-name>
    <servlet-name>RetrieveBatchController</servlet-name>
    <servlet-class>com.sonata.pharma.controller.RetrieveBatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveBatchController</servlet-name>
    <url-pattern>/RetrieveBatchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.sonata.pharma.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>